/* General */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    color: #2f3a4d;

    background-color: rgb(247, 249, 250);
}

body>div {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* Menu */

.topBar {
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 0px 5px 4px #F3F5F7;
    display: flex;
    align-items: center;
    z-index: 1;
}

.topBar p {
    text-transform: uppercase;
}

header {
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 5px 4px #F3F5F7;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: calc(100% - 2em);
    flex-direction: column;
    /* height: calc(100% - 2em); */
    height: 100%;
    overflow-y: scroll;
    max-width: calc(300px - 2em);
    z-index: 2;
}

.headerLogo {
    display: flex;
    margin-bottom: 2.4em;
    width: 100%;
}

.headerLogo .figure {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 160px;
    padding: 0;
    width: 160px;
}

.headerLogo .image {
    height: auto;
    padding: 1em;
    width: calc(100% - 2em);
}

ul.navHeader {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.navHeader li {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 1em;
}

ul.navHeader li a.navA {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: row;
    height: calc(100% - .8em);
    padding: .4em 1em;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    width: 100%;
    border-radius: 0.3em;
}

ul.navHeader li a.navA:hover {
    color: white;
    background-color: #2f3a4d;
}

ul.navHeader li .fa-solid {
    padding: 0.8em;
    padding-left: 0;
}

/* Main */

.mainContainer main {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: calc(100% - 4em);
}

/* h1 {
    text-align: center;
    margin-bottom: 1em;
    color: #225599;
    font-variant: small-caps;
} */

h2 {
    margin-bottom: .4rem;
}

.lineH2 {
    width: 72px;
    height: 0.1em;
    background-color: #225599;
}

h3 {
    text-align: center;
}

div.part:nth-child(1) {
    margin-top: 64px;
}

div.part {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 0.4em;
    box-shadow: 0px 0px 5px 4px #F3F5F7;
}

div.part div {
    margin: 1.8em;
}

div.specialPart div {
    margin: 1em;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Focus */

div#dataOriginComments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.2em 0;
    width: 100%;
}

#sectDataOrigin {
    display: flex;
    justify-content: space-between;
}

table {
    width: 60%;
    height: 100%;
    align-self: center;
    text-align: center;
}

table:nth-child(1)>thead:nth-child(1)>tr:nth-child(1) {
    background-color: #2f3a4d;
    color: white;
    font-weight: bold;
}

table td,
table th {
    padding: 0.6em;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

div.dataOrigin {
    width: 30%;
    height: auto;
}

div#dataOriginTypes {
    width: 50%;
    margin: auto;
    margin-top: 1.8em;
}

div#dataOriginTypes table {
    width: 100%;
    margin: auto;
}

div.nbComsYear {
    width: 100%;
    height: auto;
}

div.sentiEvo {
    width: 42%;
    height: auto;
}

div.sentiCompa {
    width: 100%;
    height: auto;
}

div#sentiCompaYear {
    width: 100%;
    height: auto;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    justify-content: center;
}

form fieldset div {
    margin: 1em;
}

form label {
    cursor: pointer;
}

#submit {
    display: flex;
    border: none;
    background-color: #2f3a4d;
    color: #F3F5F7;
    cursor: pointer;
    font-size: 1.1em;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 4px #F3F5F7;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.9);
    transition: transform 400ms;
}

#submit:hover {
    transform: scale(1);
}

div.specialPart .buttonHolder {
    margin: 0;
}

div.specialPart .radioHolder,
div.specialPart .checkboxHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.specialPart .alertHolder {
    height: 20px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
    opacity: 0;
}

input[type="checkbox"]+label::before,
input[type="radio"]+label::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
    font-size: 1.3em;
    color: #adadad;
    margin-right: 0.3em;
    cursor: pointer;
}

input[type="checkbox"]:checked+label::before,
input[type="radio"]:checked+label::before {
    content: "\f14a";
    color: #2f3a4d;
}

input[type="checkbox"]+label::before {
    content: "\f0c8";
}

input[type="checkbox"]:checked+label::before {
    content: "\f14a";
}

input[type="radio"]+label::before {
    content: "\f111";
}

input[type="radio"]:checked+label::before {
    content: "\f192";
}

.alert {
    text-align: center;
    color: #ff6384;
}

/** **/
@media screen and (max-width: 1500px) {
    header {
        display: none;
    }

    div#dataOriginComments {
        flex-direction: column;
    }

    div.dataOrigin {
        width: 80% !important;
        margin: auto !important;
        margin-top: 3em !important;
    }

    #dataOriginComments table {
        width: 100%;
    }

    #sectRepartitionSentiments div {
        width: 40%;
    }

    #sectSentimentsEvolution div {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .topBar p {
        font-size: 0.8em;
    }

    .contentContainer>main:nth-child(2) {
        width: 100%;
        padding: 0;
    }

    #sectDataOrigin {
        padding: 0;
        margin: 0;
    }

    div#dataOriginTypes {
        width: 100%;
    }

    #dataOriginComments>table:nth-child(1) {
        width: 100%;
        overflow-x: auto;
        display: block;
        overflow-x: auto;
    }

    #sectRepartitionSentiments div {
        width: 80%;
    }

    .nbComsYear {
        margin: 0;
        margin-top: 2em;
    }

    .sentiCompa {
        margin: 0;
        margin-top: 2em;
    }

    #sentiCompaYear {
        margin: 0;
    }
}